/* 
    Document   : CellList
    Created on : Dec 2, 2013, 10:05:21 AM
    Author     : juan.calderon
    Description:
        Purpose of the stylesheet follows.
*/

.cellListWidget {
    /* color: #021650;
     background-color: #021650;*/
}

.cellListEvenItem {
    background-color: #F8F8F8; /* blanco */
}

.cellListOddItem {
    background: #F8F8F8 /*#F0F0F0; */
}
/*background-color: #628cd5;*/
.cellListKeyboardSelectedItem {
    /*background: #ffc;*/
    background-color: #F0F0F0;  /* griseson */
    overflow: hidden;
}

.cellListSelectedItem {
    /*background-color: #628cd5;
    color: white;
    height: auto;
    overflow: visible;*/
    background-color: #F0F0F0;
    /*  color: #555555; */
    height: auto;
    overflow: auto;
}