/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2014, 10:43:56 AM
    Author     : juan.calderon
*/

html, body {
    height: 100%; 
    width: 100%;
    margin: 0;   
    padding: 0;
    border: none;
    // NECESARIO. 
    // hace que el height: 100%; de la table funcione
    // margin, padding y border en 0 hacen que NO aparezca el SCROLL INCOMODO
    // y que los componentes internos no se "COMAN UN PEDACITO" del margen y padding
}

.north-panel {
    border-top: 3px solid red;
    border-bottom: 1px solid gray;
    padding: 1px 5px 1px 5px;
}
h2 {
    float: left;
}

.center-panel-header {

    /* border-bottom: 1px solid gray; */
    color: #F0F0F0;
    background: #3399FF;
    width: 100%;
    padding: 5px 8px 1px 8px;
    display: block;
    /* usa gwt-css3-pie para soportar el CSS3 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.center-panel-header-titulo {
    /*    color: #4B4A4A;*/
    font-size: 17pt;
    font-weight: bold;
    /*    margin: 10px 10px 0px;*/
}
.center-panel-header-sub-titulo {
    /*    color: #4B4A4A;*/
    //    padding: 10px 0px;
    //    margin: 0px 10px 12px; 
}
.work-panel {
    position: absolute;
    border: 0px solid red;
    margin: 0px;
    //13px;
}
